tqdm
python-dotenv
openai
pandas
pyarrow
fastparquet
numpy
matplotlib
scikit-learn
jupyter
seaborn
# polars
# pendulum
toml
plotly
### development
black
# torch
transformers
datasets
sentence-transformers
bokeh
chromadb
renumics-spotlight
streamlit