tqdm
python-dotenv

pandas
pyarrow
fastparquet
numpy
matplotlib
scikit-learn
jupyter
seaborn
# polars
# pendulum
toml

### development
black
# torch
transformers
datasets
sentence-transformers
bokeh
chromadb
renumics-spotlight
streamlit
bokeh